$ff: 'DM Sans', sans-serif;

// colors

$bg: #111827;
$grey: #F9FAFB;
$lightgrey: #E5E7EB;
$white: #FFFFFF;
$black: #000;
$color-hr: #969696;

$grad-btn: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
$grad-text: linear-gradient(89.83deg, #2563EB 0.11%, #D946EF 58.65%);
$grad-card: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
$grad-subscr: linear-gradient(180deg, rgba(254, 254, 255, 0.0145) 0%, rgba(255, 255, 255, 0.02) 100%);
$grad-input: linear-gradient(180deg, rgba(254, 254, 255, 0.0348) 0%, rgba(255, 255, 255, 0.048) 100%);


$paragraph: #262626;
$terciary: #F9F1FE;
$text: #575757;
$primary: #8842F0;

$darkgrey: #6C6C6C;
$darkpurple: #1C1B1F;

$transition: .2s all ease-in-out;

$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

$container: 1210px;
