.care-section {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include desktop-small {
        display: none;
    }   
    &__img {
        max-width: 557px; 
        &:nth-child(even)  {
            order: 2;      
        } 
    }   
    &__info {
        max-width: 582px;
        &:nth-child(even) {
            order: 1;
        }       
    }
    &__title {
        @include text($ff, 700, 4.2rem, 5.5rem, $white);
        margin-bottom: 30px;
    }
    &__desc {
        @include text($ff, 400, 1.6rem, 2.6rem, $white);
        margin-bottom: 30px;
    }
}




