.subscribe-section {
    box-shadow: 0px 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;
    background: $grad-subscr;
    border: 1px solid;
    border-image-source: linear-gradient(97.12deg, rgba(255, 255, 255, 0.08) -3.52%, rgba(255, 255, 255, 0.07) 100.35%);
    padding: 50px 155px 38px;
    text-align: center;
    margin-bottom: 98px;
    @include mobile {
        margin-bottom: 35px;
    }
    @include tablet {
        padding: 50px 80px 38px;
    }    
    @include mobile {
        padding-inline: 15px;
    }
    &__title {
        @include text($ff, 700, 4.2rem, 5.5rem, $white);
        margin-bottom: 13px;
    }
    &__desc {
        @include text($ff, 400, 1.6rem, 3rem, $white);
        opacity: 0.8;
        margin-bottom: 29px;
    }
    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $grad-input;
        border-radius: 70px;
        box-shadow: 10px 24px 54px rgba(0, 0, 0, 0.07);
        justify-content: space-between;
        padding: 10px 10px 10px 0;
        @include tablet-small {
            flex-direction: column; 
            gap: 20px;
            background: transparent;                                
        }
        &:focus {
            border: 1px solid $primary;
        }
        input {
            width: 100%;
            background: transparent;            
            border-radius: 70px;
            padding: 15px 15px 15px 44px;
            border: 0;
            outline: 0;            
            @include text($ff, 400, 1.6rem, 2.6rem, $white);
            &::placeholder {
                @include text($ff, 400, 1.8rem, 3rem, $white); 
                opacity: 0.9;                            
            }
            @include tablet-small {                
                background: $grad-input;                                
            }         
        }
    }
    &__form .btn {
        @include text($ff, 500, 2rem, 3rem, $white);
        opacity: 0.9;
        border-radius: 70px;
        padding: 15px 49px 15px 26px; 
        display: flex;
        align-items: center;
        gap: 9px;
        &:hover {
            box-shadow: 0px 0px;
        }
        @include tablet-small {                
            width: 100%;
            display: flex;
            justify-content: center;                              
        } 
        
    }  

    
}


